<div class="message-wrapper">
  <div class="message-group">
    <section class="message-index">
    	<ul class="messages-list">
    		<% @messages.each do |message| %>
    			<% sender = message.sender %>
    			<% receiver = message.receiver %>

    			<li class="list-message">

            <% temp_profile_url = sender.profile_pic ? sender.profile_pic.pic : "default_profile_pic.jpeg" %>
            <%= image_tag(temp_profile_url, class: "message-sender-photo") %>

            <div class="index-right">
              <div class="group">
                <span class="message-names">
          				<%= link_to "#{sender.first_name} #{sender.last_name}", wall_user_url(sender) %> &rarr;
          				<%= link_to "#{receiver.first_name} #{receiver.last_name}", wall_user_url(receiver) %>
                </span>
              </div>
      				<%= link_to "Expand Conversation", message_url(message), class: "expand-conversation" %>
            </div>

    			</li>
    		<% end %>
    	</ul>
    </section>

    <%= render "create_message" %>
  </div>
</div>