<div class="profile-setup-page">
  <section class="profile-form">
    <h3 class="profile-header">Fill Out Your Basic Information</h2>

    <%= render :partial => 'form', :locals => { url: profiles_url, value: "post"} %>
  </section>
</div>