<% current_user_requests = current_user.user_requests %>
<% users_pending_initiated_friend_requests = current_user.pending_initiated_friend_requests %>
<% users_pending_received_friend_requests = current_user.pending_received_friend_requests %>

<% received_friendship = users_pending_received_friend_requests.select { |friendship| friendship.friender_id == @user.id }.first %>
		<% initiated_friendship = users_pending_initiated_friend_requests.select { |friendship| friendship.friendee_id == @user.id }.first %>
		<% valid_friendship = current_user_requests.select { |friendship| friendship.friendee_id == @user.id || friendship.friender_id == @user.id }.first %>

<section class="wall-header">
  <div class="wall-header-body group">
    <% temp_profile_url = @user.profile_pic ? @user.profile_pic.pic : "default_profile_pic.jpeg" %>
    <%= image_tag(temp_profile_url, class: "wall-photo") %>

    <div class="wall-header-right">
      <h3><%= @user.first_name + " " + @user.last_name %></h3>
      <h5 class="friendship-button">
				<% if @user == current_user %>
					<%= link_to "Edit Profile", edit_profile_url(@user) %>
				<% else %>
	        <%= render "layouts/friendship_buttons", user: @user, valid_friendship: valid_friendship, received_friendship: received_friendship, initiated_friendship: initiated_friendship %>
				<% end %>
      </h5>
    </div>
  </div>

  <nav class="wall-nav group">
    <ul>
      <li><%= link_to "Wall", wall_user_url(@user.id) %></li>
      <li><%= link_to "Photos", photos_user_url(@user.id) %></li>
      <li><%= link_to "About", about_user_url(@user.id) %></li>
      <li><%= link_to "Friends", friends_user_url(@user.id) %></li>
    </ul>
  </nav>
</section>