<div class="body-wrapper">
  <section class="sidebar">

    <header class="sidebar-header">
      <h2><%= current_user.first_name + " " + current_user.last_name %></h5>
      <h5><%= link_to "Edit Profile", edit_profile_url(current_user.profile.id) %></h5>
    </header>

    <div class="favorites">
      <ul class="sidebar-list">
        <li><%= link_to "News Feed", root_url %></li>
        <li><%= link_to "Messages", messages_url %></li>
        <li><%= link_to "Photo", photos_user_url(current_user) %></li>
        <li><%= link_to "List of Users", users_url %></li>
      </ul>
    </div>
  </section>


  <section class="main">
    <header class="update-status">
      <h5>Update Status</h5>
      <%= render "layouts/new_status" %>
    </header>


    <article class="newsfeed">
      <h1>News Feed</h1>

      <ul id="posts-list">
        <% if @news.empty? %>
          <div class="empty-block">GET SOME FRIENDS, YOUR MAKING ME LOOK BAD</div>
        <% else %>
          <% @news.each do |post| %>
            <li class="single-post">
              <%= render "layouts/post_view", post: post, show_page: false %>
            </li>
          <% end %>
        <% end %>
      </ul>

    </article>
  </section>
</div>

<script>
$(document).ready(function(event){
  $("#update-status-form").on("ajax:success", function(event, data){
    var $form = $(this);
    $("#posts-list").prepend(data);

    $form[0].reset();
  });

  $("#posts-list").on("ajax:success", ".delete-post-button", function(event, data){
    var $button = $(this);
    var $post = $button.closest(".post-wrapper");

    $post.remove();
  });

  $("#posts-list").on("ajax:success", "#like-form", function(event, data){
    var $form = $(this);
    var $ul = $form.closest(".edit-post");
    $ul.find(".like-button-posts").remove();

    $ul.append(data);
  });

  $("#posts-list").on("ajax:success", ".delete-like-button", function(event, data){
    var $button = $(this);
    var $ul = $button.closest(".edit-post");
    $ul.find(".like-button-posts").remove();

    $ul.append(data);
  });

  $("#posts-list").on("ajax:success", "#new-comment-form", function(event, data){
    var $form = $(this);
    var $ul = $form.closest(".everything-right");
    var $ul2 = $ul.find(".comments-list")

    $ul2.append(data);

    $form[0].reset();
  });

  $("#posts-list").on("ajax:success", ".delete-comment-button", function(event, data){
    var $button = $(this);
    var $comment = $button.closest(".list-comment");

    $comment.remove();
  });
});
</script>