section, h5, h2, a, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

.sidebar-list a, .sidebar-list li {
  text-decoration: none;
  color: #000;
  padding: 10px 0px;
}

.sidebar-list a:hover {
  text-decoration: underline;
}

.sidebar {
  float: left;
  padding: 20px 20px 20px 20px;
}

.sidebar-header {
  padding-bottom: 50px;
  display: block;
}

.body-wrapper {
  width: 1000px;
  margin: auto;
}

h2 {
  font-size: 1.2em;
}

.main {
  border-left: 2px solid black;
  padding-top: 25px;
  padding-left: 40px;
  float: left;
  display: block;
  width: 600px;
}

.update-status {
  width: 100%;
  display: block;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.update-status h5 {
  width: 200px;
  font-size: 1.2em;
}

.submit-button {
  //display: none;
}

