header, body, div, nav, ul, li, h1, p, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	font-family: sans-serif;
}

a {
  text-decoration: none;
  color: blue;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  background: #00F;
}

.header-logo {
  float: left;
  padding: 10px 20px;
  color: white;
  font-size: 1.5em;
}


div.header-wrapper {
  width: 1000px;
  margin: auto;
}

.header-list {
  float: right;
}

.header-list:last-child {
 border-right: 2px solid white;
}

.header-list > li {
  float: left;
  padding: 15px 10px;
  border-left: 2px solid white;
}

.header-list li a {
  color: #FFF;
  text-decoration: none;
}

.logout {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  font-size: 1em;
  background: blue;
  color: white;
}

.logout:hover {
  cursor: pointer;
}

.empty-block {
  height: 500px;
  width: 500px;
  margin: auto;
}