// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-wrapper {
  width: 1000px;
  margin: auto;
}

.message-group {
  padding-top: 50px;
  padding-left: 100px;
}

.message-sender-photo {
  width: 60px;
  height: 60px;
  float: left;
}

.list-message {
  height: 75px;
}

.index-right {
  float: left;
  margin-left: 7px;
}

.index-right a {
  color: blue;
}

.index-right a:hover {
  text-decoration: underline;
}

.index-right .expand-conversation {
  padding: 1px;
  background: grey;
  color: white;
}

.message-names {
  float: left;
}

.messages-body {
  padding: 40px 0 20px 100px;
}

.message header a {
  color: blue;
}

.message header a:hover {
  font-weight: bold;
}

.message {
  padding-bottom: 10px;
}

.message-body {
  padding-left: 5px;
}