// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
	list-style: none;
}

.post-wrapper {
  background: #a7d3ff;
  width: 550px;
  margin: 20px auto;
}

.header-photo {
  float: left;
}

.everything-right {
  float: left;
	margin-left: 10px;
  width: 480px;
}

.post-header {
	padding-top: 5px;
}

.post-body {
	padding-top: 5px;
  margin-left: 3px;
}

.post-header-photo {
  width: 60px;
  height: 60px;
}

.post-header a {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

.post-body-photo {
  width: 400px;
  margin: auto;
}

.post-photo {
	padding-top: 40px;
  width: 350px;
}

.edit-post {
	padding-top: 8px;
}

.edit-post > li {
	float: left;
	display: block;
	font-size: .8em;
	color: blue;
	padding: 2px;
}

.edit-post li input {
	border: 0;
	margin: 0 15px 0 0;
	padding: 0;
	font: inherit;
	background: inherit;
	color: blue;
}

.edit-post time {
	color: #888888;
	margin: 0 7px 0 0;
}

.edit-post span {
	margin: 0 15px 0 0;
}

.post-comments {

}

.comment-header-photo {
	width: 50px;
	height: 50px;
}

.list-comment:first-child{
  padding-top: 10px;
}

.list-comment {
  padding: 8px 0;
  border-bottom: 1px solid white;
}

.list-comment:last-child {
  border-bottom: none;
};

.left-comment {
	float: left;
}

.comment-body {
	padding: 4px;
	margin-bottom: -10px;
}

.right-comment {
	float: left;
	margin-left: 10px;
	font-size: .9em;
}

.right-comment a {
  font-weight: bold;
  text-decoration: none;
  color: blue;
}

.comment-text {
	width: 300px;
}

.comment-submit {
  display: none;
}

.new-comment {
  padding-bottom: 20px;
}