// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-page, .sign-up-page {
  margin: auto;
  padding: 0 30px;
  width: 400px;
  position: relative;
  top: 100px;
}

.sign-in, .sign-up, .profile-form {
	width: 400px;
  border-radius: 3px;
  background-color: #DFE7FF;
  padding: 50px 0;
	box-shadow: 0px 2px 3px #C9C9C9;
	margin-bottom: 10px;
}

.sign-up {
	padding: 40px 0;
}

.sign-in-header {
  padding-bottom: 40px;
  font-size: 1.7em;
  width: 120px;
  margin: auto;
}

.sign-up-header {
	padding-bottom: 40px;
	font-size: 1.5em;
	width: 335px;
	margin: auto;
}

.sign-in-buttons, .sign-up-buttons {
	width: 300px;
	margin: auto;
}

.sign-in-photo-wrapper {
	width: 150px;
	height: 150px;
	margin: auto;
	margin-bottom: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.sign-in-photo {
	width: 150px;
}

.sign-in-input:first-child, .sign-up-input:first-child {
	border-top: 1px solid #C9C9C9;
}

.sign-in-input, .sign-up-input {
	padding: 10px;
  width: 280px;
	border-bottom: 1px solid #C9C9C9;
	border-left: 1px solid #C9C9C9;
	border-right: 1px solid #C9C9C9;
}

.birth-date {
  padding-top: 15px;
}

.birth-date-header {
	padding-bottom: 5px;
}

.gender {
  padding: 15px 0;
}

.gender-type {
	float: left;
	margin-right: 15px;
}

.sign-in-submit {
	margin-top: 10px;
	padding: 10px 0px;
	width: 302px;
	background-color: #C9C9C9;
	border-radius: 3px;
	color: white;
}

.sign-in-submit:hover {
  cursor: pointer;
}

.sign-up-button-wrapper {
  width: 178px;
	margin: auto;
}

.sign-up-button{
  background: #fff;
  padding-top: 10px;
  color: #1CA4E8;
  font-size: 1em;
}

.sign-up-button:hover {
  text-decoration: underline;
}

.sign-in-button {
  background: #fff;
  padding-top: 10px;
  color: #1CA4E8;
  font-size: 1em;
}

.sign-in-button:hover {
  text-decoration: underline;
}

.sign-in-button-wrapper {
	width: 213px;
	margin: auto;
}

.profile-form {
  width: 310px;
  margin: auto;
}

.profile-input {
  width: 150px;
}

.profile-label {
  display: inline-block;
  width: 150px;
}

.profile-form {
  padding: 20px;
}

.profile-setup-page {
  margin-top: 100px;
}

h2.profile-header {
  font-weight: bold;
  margin: auto;
  width: 240px;
  padding-bottom: 20px;
}

h3.profile-header {
  font-weight: bold;
  margin: auto;
  padding-bottom: 20px;
  width: 267px;
}