// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// User Index Page
.user-header-photo {
  width: 50px;
  height: 50px;
  float: left;
}

.users-index {
  width: 1000px;
  margin: auto;
}

.user-index {
  width: 250px;
  height: 75px;
}

.index-right {
  padding-top: 3px;
}

.user-index a {
  color: blue;
  font-weight: bold;
}

.pending-request-header {
  font-size: 1.5em;
  padding: 20px 0;
}

.pending-header-wrapper {
  width: 1000px;
  margin: auto;
}

.photos {
  width: 1000px;
  margin: auto;
}

.user-photos li {
  float: left;
	width: 200px;
	height: 200px;
	margin: 20px;
	overflow:hidden
}

.photo-index-view {
	width: 100%;
	height: 100%;
}

.about {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

.about-title {
  font-size: 1.6em;
}

.left {
  margin-left: 40px;
  float: left;
}

.right {
  float: left;
}

.table-header {
  font-weight: bold;
  padding-bottom: 10px;
}

th {
  text-align: left;
}

.friends {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

.friends header {
  margin-left: 20px;
}

.friends article {
  margin-left: 30px;
}