<% like = comment.likes.where(user_id: current_user.id) %>

<% if like.empty? %>
  <%= render "layouts/like_comment", comment: comment %>
<% else %>
  <%= button_to "Unlike", like_url(like[0]), method: :delete %>
<% end %>