<header class="header">
  <div class="header-wrapper">
    <h1 class="header-logo">
      Fakebook
    </h1>

    <nav class="nav-header group">
      <ul class="header-list">
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to current_user.first_name, wall_user_url(current_user) %></li>
        <li><%= link_to "Friend Requests", "/friend-requests" %></li>
        <li><%= link_to "Inbox", messages_url %></li>
        <li><%= link_to "Notifications", "/notifications" %></li>

        <li><%= button_to "Logout", session_url, method: :delete, class: "logout" %></li>
      </ul>
    </nav>
  </div>
</header>
