<form action="<%= posts_url %>" method="post" enctype="multipart/form-data" data-remote="true" id="update-status-form">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="post[body]" placeholder="New Status..">
  <input type="hidden" name="post[receiver_id]" value="<%= current_user.id %>">

  <input type="file" name="photo[pic]">

  <p><input type="submit" value="Post" class="submit-button"></p>
</form>