<!DOCTYPE html>
<html>
<head>
  <title>FacebookLite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <%= render "layouts/nav" %>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
